<section>
  <p>
    <small>
      <%= attribute_model(comment, :user) %></i> 
      <span class='bold'>
        <%= comment.user.username.split(' ').map(&:capitalize!).join(' ') %>
      </span> 
      <time class='style-date' datetime="<%= comment.formatted_created_at %>">
        <%= comment.formatted_created_at %>
      </time>
    </small>
  </p>
  <p><%= comment.body %></*p>
            
  <% if user_signed_in? && comment.user == current_user %>
    <div class="btn-group mt-2" role="group">
      <%= link_to t('link.edit', model: i18n_model_name(comment).downcase), 
        edit_comment_path(comment), class: 'btn btn-outline-success me-2 btn-sm' %>
      <%= button_to t('button.destroy', model: i18n_model_name(comment).downcase), 
        comment_path(comment), method: :delete, class: 'btn btn-outline-danger me-2 btn-sm', 
        :onclick => "return confirm('Are you sure?')", :remote => true %>
    </div>
  <% end %>
</section>
        