<%= tag.article class: 'line my-2', id: dom_id(comment)  do %>
  <p>
    <small>
      <span class='bold'>
        <%= attribute_model(comment, :user) %></i> 
      </span> 
        <%= comment.user.username.split(' ').map(&:capitalize).join(' ') %>,
      <time class='style-date' datetime="<%= comment.formatted_created_at %>">
        <%= comment.formatted_created_at %>
      </time>
    </small>
  </p>
  <p><%= simple_format comment.body %></p>        
  <% if user_signed_in? && comment.user == current_user %>
    <div class="btn-group my-2" role="group">
      <%= link_to t('link.edit', model: i18n_model_name(comment).downcase), 
        edit_comment_path(comment), class: 'btn btn-outline-success me-2 btn-sm' %>
      <%= button_to t('button.destroy', model: i18n_model_name(comment).downcase), 
        comment_path(comment), method: :delete, class: 'btn btn-outline-danger me-2 btn-sm', 
        :onclick => "return confirm('Are you sure?')", :remote => true %>
    </div>
  <% end %>
<% end %>
