<section>
  <% provide :page_title, i18n_model_name(@articles, count: 2) %>
  <% currently_at t('page.site_name') %>

  <h1 class='md-4'><%= i18n_model_name(@articles, count: 2) %></h1>

  <p>
    <%= link_to t('link.new', model: i18n_model_name(@articles).downcase), 
      new_user_article_path(current_user), class: 'btn btn-outline-info me-2 mt-3' if current_user%>
  </p>
  <div class='my-2'>
    <%== pagy_bootstrap_nav @pagy if @pagy.pages > 1 %>
  </div>

  <% if @articles.try(:any?) %>

    <% @articles.each do |article| %>
      <article class='mt-5'>
        <div class='container'>
          <h3><%= article.title %></h2>
          <section>
            <p class='my-2'>
              <i><%= attribute_model(article, :user) %>:</i> 
              <span class='bold'>
                <%= article.user.username.split(' ').map(&:capitalize).join(' ') %>
              </span>
            </p>
            <p class='my-2'>
              <%= truncate strip_tags(article.content), length: 100, omission: '... (continued)' %>
            </p>
            <span class='style-date'>
              <time datetime="<%= article.formatted_created_at %>">
                <%= article.formatted_created_at %>
              </time>
            </span>
          </section>
          <div class="btn-group mt-2" role="group">
            <%= link_to t('link.show', model: i18n_model_name(article).downcase), 
              article_path(article), class: 'btn btn-outline-primary me-2' %>
            <% if user_signed_in? && article.user == current_user %>
              <%= link_to t('link.edit', model: i18n_model_name(article).downcase), 
                edit_article_path(article), class: 'btn btn-outline-success me-2' %>
              <%= button_to t('button.destroy', model: i18n_model_name(article).downcase), article_path(article), 
                method: :delete, class: "btn btn-outline-danger", :onclick => "return confirm('Are you sure?')", :remote => true %>
            <% end %>
          </div>
        </div>
      </article>
    <% end %>
  <% end %>
</section>
<div class='my-2'>
  <%== pagy_bootstrap_nav @pagy %>
</div>