<article class='mt-2'>
  <% provide :page_title, @article.title %>
  <% currently_at %>

  <div class='container'>
    <%= render partial: 'shared/go_back_button', locals: { path: articles_path } %>

    <h1 class='md-4'><%= @article.title %></h1>
    <section>
      <p class='my-2'>
        <i><%= attribute_model(@article, :user) %> </i> 
        <span class='bold'>
          <%= @article.user.username.split(' ').map(&:capitalize!).join(' ') %>
        </span>
      </p>
      <p>
        <%= @article.content %>
      </p>
      <span class='style-date'>
        <time datetime="<%= @article.formatted_created_at %>">
          <%= @article.formatted_created_at %>
        </time>
      <span>
    </section>
    <div class="btn-group mt-2" role="group">
      <% if user_signed_in? && @article.user == current_user %>
        <%= link_to t('link.edit', model: i18n_model_name(@article).downcase), 
          edit_article_path(@article), class: 'btn btn-outline-success me-2' %>
        <%= button_to t('button.destroy', model: i18n_model_name(@article).downcase), article_path(@article), 
          method: :delete, class: "btn btn-outline-danger", :onclick => "return confirm('Are you sure?')", :remote => true %>
      <% end %>
    </div>
    <section>
      <% if @comments.try(:any?) %>
        <h3 class='md-4 mt-5'><%= i18n_model_name(@comments, count: 2) %></h3>
        <%= render partial: 'comments/comment', collection: @comments %>
      <% end %>
      <% if user_signed_in? %>
        <div class='col-sm-5 mt-5'>
          <%= render partial: 'comments/form', locals: { model: [@article, @comment], method: :post, 
            url: article_comments_path(@article), submit: t('button.new') } %>
        </div>
      <% end %>
    </section>
  </div>
</article>