<%= provide :main_menu do %>
  <header id="header">
    <h1><%= nav_tab t('page.site_name'), root_path, current_page: current_page %></h1>
    <nav class="links">
      <ul>   
        <li>
          <%= nav_tab t('page.about'), static_pages_about_path, current_page: current_page %>
        </li>
        <li>
          <%= nav_tab t('link.contact'), static_pages_contacts_path, current_page: current_page %>
        </li>
          <li>
            <%= nav_tab t('link.new', model: i18n_model_name(Article.new).downcase), new_user_article_path(current_user), 
                current_page: current_page if user_signed_in? %>
          </li>
      </ul>
    </nav>
    <nav class='me-4'>
      <ul>
        <li class="dropdown me-4">
          <% if user_signed_in? %>
            <%= link_to current_user.username, '#', class: "dropdown-toggle",
                data: {'bs-toggle': 'dropdown'} %>    
            <ul class='dropdown-menu text-center'>
              <li>
                <%= button_to t('nav.sign_out'), sign_out_path, method: :delete, form: {turbolink: false}, 
                    :onclick => "return confirm('Are you sure?')", :remote => true, 
                    class: "dropdown-item" %>
              </li>
            </ul>
          <% else %>
            <%= link_to t('nav.enter'), '#', class: "dropdown-toggle",
                data: {'bs-toggle': 'dropdown'} %>
            <ul class='dropdown-menu text-center'>
              <li>
                <%= nav_tab t('nav.sign_in'), sign_in_path, class: "dropdown-item"  %>
              </li>
              <li>
                <%= nav_tab t('nav.sign_up'), sign_up_path, class: "dropdown-item"  %>
              </li>
            </ul>
          <% end %>
        </li>
      </ul>
    </nav>
  </header>
<% end %>